* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;     
  }

  .paydiv {
    /* position: absolute; */
    width: 200px;
    /* height: 400px; */
    padding: 30px, 20px;
    text-align: center;
    /* top: 40%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: #392f31;
  }

.paybtn {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width: 80%;
    height: 40px;
    background: linear-gradient(125deg, #8d192b, #ffd700, #ff3399);
    background-position: left;
    background-size: 200%;
    color: #392f31;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
  }