
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;     
  }

/* .titleimg {
  margin-top: 50px;
  width: 200px;
  height: 200px;

} */


.mydiv {
    position:absolute;
    width:450px;
    height:800px;
    text-align:center;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    /* background-image: none; */
    color: #392f31;
    cursor: default; 
    font-family: 'Poor Story';

  }

  .mydiv1 {
    position:absolute;
    width:450px;
    height:800px;
    text-align:center;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    /* background-image: none; */
    color: #392f31;
    cursor: default; 
    font-family: 'Poor Story';

  }

  .mytitle {
    text-align: center;
    margin: 30px;
  }
  
.mytext {
    margin: 20px;
    font-size: 30px;
    margin-bottom: 30px;
    
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .mytext1 {
    border-bottom: 2px solid #392f31;
    /* border-bottom: 2cm; */
    /* width: 150px; */
    margin: 20px;
    font-size: 30px;
    margin-bottom: 30px;
    
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
  }
  .myinput {
    
    margin-top: 20px;
    display: flex;
    width: 100%;
    border:none;
    outline:none;
    color: #392f31;
    font-size:28px;
    height:30px;
    background: none;
    text-align: center;
    /* margin-bottom: 10px; */
  }
  
.mybtn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    border-radius: 40px;
    background: linear-gradient(125deg,#ff5478,#ffb0b9,#ffe5e7);
    background-position: left;
    background-size: 200%;
    color:#392f31;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    margin-top: 40px;
  }

  .walbtn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    border-radius: 40px;
    background: linear-gradient(125deg,#ff5478,#ffb0b9,#ffe5e7);
    background-position: left;
    background-size: 200%;
    color:#392f31;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }

  .walbtn:hover {
    background-position: right;
  }

  .mybtn:hover {
    background-position: right;
  }
