.Ldiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #392f31;
    background-color: white;
}
.Linput {
    font-family: 'Poor Story';
    padding-left: 10px;
    margin: 10px;
    width: 100%;
    border:none;
    outline:none;
    color: #392f31;
    font-size:16px;
    height:25px;
    background: none;
}

.Ltext {
    font-family: 'Poor Story';
    border-bottom: 2px solid #ff5478;
}

.Lbtn{
    font-family: 'Poor Story';
    color: black;
    font-weight: 700;
    width: 100%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
    background: linear-gradient(125deg,#ff5478,#ffb0b9,#ffe5e7);
    background-position: left;
    background-size: 200%;
    color:#392f31;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}

.Lbtn:hover {
    background-position: right;
  }
